<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cafe page</title>
    <link rel="icon" href="favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>카페 정보 조회</h1>
<div class="cafe-container" id="cafeContainer"></div>
<p>데이터 불러오는 중...</p>

<script>
    $.ajax({
        url:'/api/cafes',
        method: 'GET',
        success:
        function (data){
            if (data.length > 0){
                $.each(data,
                function (index, cafe){
                    const cafeInfo = `
                    <p><strong> CafeName : </strong>${cafe.name}</p>
                    <p><strong> Address : </strong>${cafe.address}</p>
                    <p><strong> PhoneNumber : </strong>${cafe.phoneNumber}</p>
                    <p><strong> OpeningTime : </strong>${cafe.openingTime}</p>
                    <p><strong> ClosingTime : </strong>${cafe.closingTime}</p>
                    <p><strong> Description : </strong>${cafe.description}</p>
                    `
                $('#cafeContainer').append(cafeInfo);
                })
            } else {
                alert("오류 발생")
            }
        },
        error(){
            alert("컨트롤러에 문제가 생겨서 데이터를 가져오지 못합니다.")
        }
    })
</script>
</body>
</html>